<% if flash[:notice] %>
    <p class="flash">
        <%= flash[:notice] %>
    </p>
<% end %>

<h1>Đăng Nhập</h1>

<div>
    <% form_tag do %>
        <p>
            Tài Khoản<br/>
            <%= text_field_tag :username, params[:username] %>
        </p>
        <p>
            Mật Khẩu<br/>
            <%= password_field_tag :password, params[:password] %>
        </p>
        <p>
            <%= submit_tag "Đăng Nhập" %>
        </p>
    <% end %>
</div>
