<% if flash[:notice] %>
    <p class="flash">
        <%= flash[:notice] %>
    </p>
<% end %>

<h1>Login Form</h1>

<div>
    <% form_tag do %>
        <p>
            Username<br/>
            <%= text_field_tag :username, params[:username] %>
        </p>
        <p>
            Password<br/>
            <%= password_field_tag :password, params[:password] %>
        </p>
        <p>
            <%= submit_tag "Login" %>
        </p>
    <% end %>
</div>
